# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# OS-specific
.DS_Store
Thumbs.db

# Optional IDE ignores
.vscode/
.idea/

# Coverage directory used by tools like Istanbul
coverage/

# Optional npm cache directory
.npm/

# Local MongoDB data (if any dump or dev DB files)
dump/
